.nested {
    width: calc(100% - 4.4rem);
    padding-left: 4.4rem;
    counter-reset: node-line-number;
}

.nested.nest-1 {
    padding-left: 0;
}

.nested.nest-2 {
    padding-left: 0.9rem;
}

.nested.nest-3 {
    padding-left: 1.8rem;
}

.nested.nest-4 {
    padding-left: 2.7rem;
}

.nested.nest-5 {
    padding-left: 3.6rem;
}

.line {
    width: 100%;
    display: flex;
    counter-increment: node-line-number;
}

.line::before {
    content: counter(node-line-number);
    width: 2.2em;
    padding-right: 0.4rem;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 0.02rem solid silver;
    font-size: 0.72rem;
    font-family: monospace;
    opacity: 0.57;
}

.editor-tab {
    position: relative;
    height: 100%;
    padding-right: 2.1em;
}

.editor-tab>aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 2.1em;
    background-color: white;
    color: grey;
}

.editor-tab>aside>nav,
.editor-tab>footer>nav {
    display: flex;
}

.editor-tab>aside>nav {
    flex-direction: column;
}

.editor-tab>footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.editor *[contenteditable] {
    min-width: 7.2em;
    padding: 0.1rem 0.4rem;
    font-size: 1.2rem;
    border: 0.04rem solid orange;
}