.d-flex {
    display: flex !important;
}

.row {
    display: flex;
    gap: 0.9rem;
}

.row>.col {
    flex-grow: 1;
    flex-basis: 0;
}

.rotate-90 {
    transform: rotate(90deg) !important;
}

/* todo: move to components/ ? */
.editor *[contenteditable] {
    padding: 0.1rem 0.4rem;
    font-size: 1.2rem;
    border: 0.04rem solid orange;
}